.wrapper {
    min-height: calc(var(--height) - var(--element-height));
    width: 100%;
}

.heading {
    border-bottom: 1px solid var(--line-color);
    height: var(--element-height);
    box-sizing: border-box;
    display: flex;
    align-items: center;
}


.body {
    height: calc(var(--height) - (var(--element-height) * 2));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

/** Content */
.content {
    padding: var(--spacing);
    height: calc(var(--height) - (var(--element-height) * 3));
    overflow-y: auto;
}

.content-item {
    padding-bottom: var(--spacing);
    display: flex;
    gap: var(--spacing);
}

.content-item-left{

}

.content-item-right {
    flex-direction: row-reverse;

}

.content-item-message {
    padding: calc(var(--spacing) / 2);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .1);
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
/** End content */

/** Chat box */
.chat-box {
    border-top: 1px solid var(--line-color);
    height: var(--element-height);
    padding: var(--spacing);
    box-sizing: border-box;
    width: 100%;


    display: flex;
    align-items: center;
    /*gap: var(--spacing);*/
    /*background-color: #f5f5f5;*/
}

.chat-input {
    height: 32px;
    border: none;
    width: 100%;
}

.chat-input:active, .chat-input:focus {
    border: none;
    outline: none;
}

.chat-box-btn-parent {
    position: relative;
}

.chat-box-btn {
    height: var(--element-height);
    box-sizing: border-box;
    padding: var(--spacing);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

}

.chat-box-btn:hover, .chat-box-active{
    border: transparent;
    background-color: rgba(0, 0, 0, .1);
}

.chat-box-icon{
    position: absolute;
    top: calc( -1 * (var(--element-height) * 5) ) ;
    right: 0;
    width: calc(var(--element-height) * 4);
    height: calc(var(--element-height) * 5);
    background-color: var(--light);
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

    border-radius: 4px;
}

.chat-box-icon-item {
    padding: 4px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);


    height: calc(var(--element-height) * 5 - 8px);
    overflow-y: auto;
}

.chat-box-icon-item div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

.chat-box-icon-item div:hover{
    background-color: rgba(0, 0, 0, .1);
    border-radius: 4px;
}

/** End chat box */
