.avatar {
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.s {
    width: 32px;
    height: 32px;
}

.m {
    width: 64px;
    height: 64px;
}

.l {
    width: 128px;
    height: 128px;
}
