.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.close {
    color: var(--light);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: right;
}
