@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

:root {
  --light: white;
  --dark: black;
  --danger: #ef4444;

  --radius: 0px;
  --spacing: 14px;
  --element-height: 52px;
  --height: 707px;
  --width: 375px;
  --line-color: #cccccc;
}

*{
  margin: 0;
  padding: 0;
}

html{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-size: 14px;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
}
.site-container {
  width: 375px;
  height: 707px;
  /*width: 26.7rem;*/
  /*height: 58rem;*/
  background-color: var(--light);
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: var(--light);
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark);
}

.p { padding: var(--spacing); }
.pt { padding-top: var(--spacing); }
.pl { padding-left: var(--spacing); }
.pr { padding-right: var(--spacing); }
.pb { padding-bottom: var(--spacing); }
.w-full { width: 100%; }
.h-full { height: 100%; }
.pointer { cursor: pointer; }
.text-danger { color: var(--danger); }
